<h1>User info</h1>
<div> <%#ユーザー詳細%>
    <%= image_tag @user.get_profile_image(100,100) %>
    <h3>name <%= @user.name %></h3>
    <h3>introduction</h3>
</div>

<% @books.each do |book| %>
<div>
 <%= link_to book_path(book.id) do %>
    <P><%= image_tag book.user.get_profile_image(100,100) %></P>
 <% end %>
     <h3>Title</h><br>
        <%= link_to book.title,  edit_book_path %></p>
    <h3>Opinion</h><br>
        <%= book.body %>
</div>
<% end %>